.login-container {
  background-color: #f7f7f7;
  padding: 20px 20px;
  height: 100vh;
}
.loginMainRow {
  margin-top: 100px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.loginTextContainer {
  padding: 30px 0px;
  width: 400px;
}
.loginText {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  margin-bottom: 12px;
}
.loginDescription {
  font-size: 14px;
  margin-top: 10px;
  color: #929090;
}
.loginSustraxApiTxt {
  font-size: 30px;
  color: #38d39f;
}
.formInputs {
  width: 430px;
  padding: 20px 0px;
}
.formInput {
  width: 100%;
  padding: 20px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgb(227, 226, 224);
  margin-bottom: 20px;
  color: #615f5f;
}
.formInput::placeholder {
  color: #898888;
}

.loginBtn {
  width: 100%;
  background-color: #38d39f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image {
  /* margin-top: 20px; */
  width: 100%;
}
.registerLink {
  margin-top: 20px;
  text-align: center;
}
.linkText {
  color: #38d39f;
}

@media (max-width: 768px) {
  .loginMainRow {
    margin-top: 0px;
  }
  .formInputs {
    padding: 10px 0px;
    width: 100%;
  }
  .formInput {
    padding: 15px 15px;
  }
  .loginBtn {
    padding: 10px 10px;
  }
  .loginText {
    font-size: 18px !important;
  }
  .loginSustraxApiTxt {
    font-size: 22px !important;
  }
  .loginTextContainer {
    width: 100%;
  }
  .registerLink {
    margin-top: 0px !important;
  }
  .loginText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .image-column {
    margin-top: 80px;
  }
}
