.spinner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Customizing Ant Design Spin component to have a green color */
.green-spinner .ant-spin-dot i {
  background-color: green;
}
