.header {
  background-image: linear-gradient(to right, #79d28f82, #08ab1e);
  background-color: rgb(1, 36, 1); /* Fallback for older browsers */
  color: white;
  padding: 0 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: white;
  flex-shrink: 0;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.searchInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  margin-left: auto; /* Pushes the search input to the right */
}

.login,
.helpCenter {
  color: white;
  background: none;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

.hamburger-menu {
  margin-left: auto;
  cursor: pointer;
}

/* Increase the overall size of the dropdown menu items */
.header .ant-dropdown-menu {
  font-size: 16px; /* Adjust font-size as needed */
}

.header .ant-dropdown-menu-item {
  padding: 12px 20px; /* Adjust padding to increase size */
  /* Add any additional styles here */
}

/* Optionally, you can also adjust the icon size within the dropdown if needed */
.header .ant-dropdown-menu-item-icon {
  font-size: 16px; /* Match icon size with font size or as desired */
  margin-right: 8px; /* Spacing between icon and text */
}

/* If you want to increase the width of the dropdown menu */
.header .ant-dropdown-menu {
  width: 200px; /* Set a specific width or use 'min-width' for a flexible size */
}
