/* Sidebar.css */

.container {
  width: 300px;
  border-right: 1px solid #dfe1e6;
  height: 100vh;
  padding: 20px;
}

.link {
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: #e1e4e8;
  color: #0056b3;
}

.activeLink {
  background-color: #0056b3;
  color: #ffffff;
}
