/* Sidebar.css */

.container {
  width: 300px;
  border-right: 1px solid #dfe1e6;
  height: 100vh;
  padding: 20px;
}
@media (max-width: 768px) {
  .container {
    /* display: none; */
  }
}

.link {
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #3a9012;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: #eaeced;
  color: #000000;
}

.sidebar-item .link.activeLink {
  border-radius: 5px;
  background-color: #8fb482;
  color: #ffffff;
}
