.categoryDetailsWrapper {
  border: 1px dotted #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.categoryTitleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.category-title-icon {
  display: flex;
  align-items: center;
}

.titleBorder {
  background-color: #ebe8e8;
  width: 99%;
  height: 1px;
  margin-top: 20px;
  margin-left: 4px;
}
.apiDetailsContainer {
  margin: 20px;
}

.categoryDetailsWrapper {
  padding: 20px;
}

.category-title-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titleBorder {
  height: 2px;
  background-color: #e8e8e8;
  margin-bottom: 10px;
}

.categoryInstructions h4 {
  margin-bottom: 5px;
}

.categoryFormWrapper {
  margin-top: 20px;
  background-color: #f1f1f1;
}

.formItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.formTextLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formItem label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputDescription {
  margin-top: 15px;
  color: #666;
}

.categoryFormInputs {
  margin-bottom: 10px;
}
