.code-block-container {
  position: relative;
}

.copy-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  color: #8a8989;
  margin: 10px;
}

.code-block-content {
  padding: 20px;
}
